.review {
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0px;
    .contain{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .user {
            display: flex;
            align-items: center;
            .pfp {
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
        }
        .change{
            display: flex;
            img{
                padding-left: 10px;
                height: 16px;
                width: 16px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .stars {
        display: flex;
        gap: 5px;
    
        img {
            height: 14px;
            width: 14px;
        }
    
        span {
            font-size: 14px;
            font-weight: bold;
            color: #ffc108;
        }
    }

    p{
        white-space: pre-wrap;
        word-wrap: break-word;
    }
  }