.register {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eec9bcbe;

    .warn{
      display: flex;
      position: absolute;
      padding-top: 700px;
      color:red;
    }

    form {
      width: 960px;
      padding: 121px 0px;
      display: flex;
      gap: 120px;
  
      h1 {
        color: gray;
        margin-bottom: 20px;
      }
      
      .right{
            label {
                color: gray;
                font-size: 18px;
                margin-top: 33%;
            }
            flex:1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-between;
            textarea{
                margin-bottom: 50%;
                padding: 10px;
            }
        }
      .left{
        
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        label {
          color: gray;
          font-size: 18px;
        }
  
        input {
          padding: 20px;
          border: 1px solid rgba(81, 104, 110, 0.384)
        }
  
        button {
          margin-top: 3%;
          border: none;
          padding: 20px;
          color: white;
          font-weight: 500;
          font-size: 18px;
          background-color: #1dbf73;
          cursor: pointer;
        }
      }
    }
  }