html {
    overflow-y: scroll;
}

*{
    .link{
        text-decoration: none;
        color: inherit;
    }
}


//prevent drag and drop
* {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -webkit-user-drag: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    }

.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #d0e9f1;
    z-index: -1;
}