.featured{
    display: flex;
    justify-content: center;
    background-color: #296E85;
    color: #ADD8E6;
    height: 85vh;
    

    .container{
        width: 1400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .left{
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-bottom: 10%;

            h1{
                font-size: 50px;
            }

            .search{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                border-radius: 5px;
                overflow: hidden;
                height: 50px;
                
                .searchInput{
                    display: flex;
                    align-items: center;
                    width: 80%;
                    height: 100%;
                    

                    img{
                        width: 20px;
                        height: 20px;
                        margin: 10px;
                    }

                    input{
                        border: none;
                        outline: none;
                        width: 100%;
                        height: 100%;

                        &::placeholder{
                            color: gray;
                            opacity: 50%;
                        }
                    }
                }

                button{
                    width: 20%;
                    height: 100%;
                    border: none;
                    background-color: #1E5162;
                    color:white;
                    align-self: flex-end;
                    cursor: pointer;
                }
            }
        }
        .right{
            img {
                margin-bottom: 30%;
                height: 100%;
                object-fit: contain;
            }    
        }
        .mid{
            margin-top: 43%;
            img{
                width: 7vh;
                height: 7vh;
                opacity: 50%;
            }
        }
    }
}