.addStories {
    display: flex;
    justify-content: center;
    background-color: #eec9bc86;
  
    .container {
      width: 1400px;
      padding: 30px 0px;
  
      h1 {
        width: max-content;
        margin-bottom: 30px;
        color: gray;
        font-weight: 300;
      }
  
      form {
        border: #BB998C;
        display: flex;
        justify-content: space-between;
        gap: 100px;
  
        label {
          color: gray;
          font-weight: bolder;
          font-size: 18px;
        }
  
        .info
        {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: space-between;
  
          input,
          select,
          textarea {
            padding: 20px;
          }
  
          button {
            border: none;
            padding: 20px;
            color: white;
            font-weight: 500;
            font-size: 18px;
            background-color: #BB998C;
            cursor: pointer;
          }
        }
      }
    }
  }