.story {
    display: flex;
    justify-content: center;
    background-color: lightblue;
  
    .container {
      width: 1400px;
      padding: 30px 0px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

        .user {
            display: flex;
            align-items: center;
            gap: 10px;

            .pp {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            }

            span {
            font-size: 14px;
            font-weight: 500;
            }

            .stars {
            display: flex;
            align-items: center;
            gap: 5px;

                img {
                    height: 14px;
                    width: 14px;
                }

                span {
                    font-size: 15px;
                    padding-top: 1.1px;
                    padding-left: 2px;
                    font-weight: bold;
                    color: black;
                }
            }
        }

        .storyImg {
            align-self: center;
            background-color: black;
            height: 60%;
            width: 60%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        h2 {
            padding-top: 20px;
            font-weight: 400;
        }

        p {
            white-space: pre-wrap;
            word-wrap: break-word;
            padding-top: 10px;
            font-weight: 300;
            line-height: 25px;
            color: #555;
        }

        .author {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .user {
            display: flex;
            align-items: center;
            gap: 20px;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .stars {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        img {
                            height: 32px;
                            width: 32px;
                        }
                        span{
                            font-size: 20px;
                            padding-top:11px;
                            padding-left: 5px;
                        }
                    }
                }
            }

            .box {
                border:1px solid black;
                border-radius: 5px;
                padding: 20px;
                margin-top: 20px;
            }
        }
    }
}