.storyCard{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    img{
        height: 200px;
        width:fit-content;
        object-fit: cover;
    }

    .info{
        background-color: white;
        display: flex;
        align-items: center;
        padding: 10px 5px;
        border-radius: 5px;
        border:10px black;
        .baseInfo{
            display: flex;
            align-items: center;
            gap: 20px;

            img{
                width: 40px;
                height: 40px;
                background-repeat: 50%;
                object-fit: cover;
            }
            .texts{
                h2{
                    font-size: 14px;
                    font-weight: 500;
                }
                span{
                    font-size: 14px;
                    font-weight: 13px;
                }
            }
        }
        .rating{
            position: absolute;
            display: flex;
            align-items: center;
            gap: 5px;
            padding-left: 235px;
            img{
                width: 17px;
                height: 16px;
                padding-bottom: 2px;
            }
            span{
                font-size: 14px;
                font-weight: bolder;
                color: black;
            }
        }
    }
}