.comments{
    margin-top: 50px;

    .add{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .addForm{
            display: flex;
            flex-direction: column;
            gap: 20px;

            input{
                padding: 20px;
            }

            select{
                width: 100px;
                padding: 20px;
                align-self: flex-end;
                text-align: center;
            }

            button{
                align-self: flex-end;
                width: 100px;
                border: none;
                padding: 10px;
                color: white;
                background-color: #BB998C;
                cursor:pointer;
                &:hover{
                    color:black;
                    background-color: #EEC9BC;
                }
            }
        }
    }
}