.stories {
    display: flex;
    justify-content: center;
    background-color: #d0e9f1;
    height: 100%;
    width: 100%;
    
    .container {
      width: 1400px;
      padding: 30px 0px;
      display: flex;
      flex-direction: column;
      gap: 15px;
  
      p {
        color: #999;
        font-weight: 300;
      }
  
      .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .sort {
          position: relative;
          display: flex;
          align-items: center;
          gap: 7px;
          width: 20vh;

          .sortBy {
            color: #555;
            font-weight: 300;
            position:absolute;
            padding-left: 15%;
          }
  
          .sortType {
            font-weight: 500;
            padding-left: 45%;
            cursor: pointer;
          }
  
          .rightMenu {
            padding: 20px;
            background-color: white;
            border: 0.5px solid lightgrey;
            border-radius: 5px;
            position: absolute;
            top: 30px;
            right: 0;
            z-index: 9;
            display: flex;
            flex-direction: column;
            gap: 20px;
            color: #555;

            span{
                cursor:pointer;
            }
          }
        }
      }
  
      .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }