.myStories{
    display: flex;
    justify-content: center;
    color: #555;
    background-color: #eec9bc86;
    height: 100vh;
  
    .container {
      width: 1400px;
      padding: 50px 0px;
      display: flex;
      flex-direction: column;
  
      .title {
        display: flex;
        justify-content: space-between;
  
        button {
          background-color: #183f4d;
          color: white;
          font-weight: 500;
          border: none;
          padding: 10px;
          cursor: pointer;
        }
      }
  
      table {
        width: 90%;
 
        tr {
          height: 50px;
          th {
            text-align: center;
          }
          td {
            text-align: center;
            .image {
              padding-top: 4px;
              width: fit-content;
              height: 50px;
            }
  
            .delete {
              width: 20px;
              cursor: pointer;
            }
  
          }
        }
        tbody{
            tr{
                &:nth-child(odd) {
                    background-color: #add8e696;
                }
            }
        }
      }
    }
  }