.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #296E85;
    color: #ADD8E6;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.3s all ease;
    min-height: 15vh;
    height: 100%;

    &.active{
        background-color: #ADD8E6;
        color: #1E5162;
    }

    .container{
        width: 1400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;

        .logo{
            font-size: 34px;
            font-weight: bold;
            .text{
                font-family: 'Fuzzy Bubbles', cursive;
            }
        }
        .links{
            display: flex;
            align-items: center;
            gap: 24px;
            font-weight: 500;

            span{
                white-space: nowrap;
            }

            .user{
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;

                img{
                    width: 32px;
                    height: 32px;
                    border-radius : 50%;
                    object-fit: cover;
                }

                .menu{
                    position: absolute;
                    top: 50px;
                    right: 0;
                    padding: 20px;
                    background-color: white;
                    color:grey;
                    border-radius: 10px;
                    z-index: 999;
                    border: 1px solid lightblue;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 130px;
                    font-weight: 300;
                }
            }
            button{
                color: white;
                padding: 10px 20px;
                border-radius:5px;
                border: 1px solid white;
                cursor: pointer;
                background-color: #296E85;
                &.active{
                    background-color: transparent;
                }
                &:hover{
                    background-color: #8AC7DB;
                    border: 1px solid #8AC7DB;
                }
            }
        }
    }
    hr{
        &.active{
            border-top: 0;
            border-bottom: 0;
        }
        width: 90%;
        height: 0%;
        border-top: 0.2px solid black;
        border-bottom: 0.1px solid black;
    }
    .categories{
        &.active{
            color:white;
            background-color: #296E85;
        }
        background-color: #296E85;
        width: 1400px;
        padding: 10px 100px;
        display: flex;
        justify-content: space-between;
        color: black;
        font-weight: 500;
    }
}